@{
    ViewData["Title"] = "Home Page";
}
<img class="body-bg-img" src="./Images/serverroom.jpg" />
<div class="text-center">
    <h1 class="display-4">Welcome to our Computer Manager</h1>
   
</div>

