@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Privacy Policy</h1>

<p>If you choose to use Computer Manager, your use and any dispute over privacy is subject to this Notice and our Conditions of Use , including limitations on damages, resolution of disputes, and application of the law of the state of North Dakota. If you have any concern about privacy at Computer Manager, please contact us with a thorough description, and we will try to resolve it. Our business changes constantly, and our Privacy Notice will change also. You should check our websites frequently to see recent changes. Unless stated otherwise, our current Privacy Notice applies to all information that we have about you and your account. We stand behind the promises we make, however, and will never materially change our policies and practices to make them less protective of customer information collected in the past without the consent of affected customers.</p>
